* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Top-Head Section Start */
.tophead {
    width: 100%;
    height: 30px;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #012901;
}

.tophead ul li {
    color: #fff;
    margin: 0px 3px;
display: inline-block}
.tophead ul li a{
    color: #fff;
}
/* Top-Head Section End */

/* Header Section Start */
header{
   width: 100%;
   height: 100%;
   color: #fff;
   background: #116e46;
   line-height: 100px;
   padding: 0px 100px;
}
header h1{
    font-size: 50px;
    margin-right: 20px;
}
header h1, h3{
    display: inline-block;
}
/* Header Section End */

/* Nav Section Start */
nav{
width: 100%;
height: 30px;

padding: 0px 100px;
background-color: #467a46;
}
nav ul li{
font-weight: 700;
list-style: none;
display:inline-block;
line-height:30px;
margin-right: 45px;
}
nav ul li a{
    text-decoration:none;
     color: #000;
}
nav ul li a:hover{
    color: #fff;
    transition-duration: 0.4s;

}
/* Nav Section End */

/* Main Section Start */
section{
    width: 100%;
    padding: 0px 100px;
}
section main{
    width: 75%;
    margin-top: 20px;
   float: left;
}
section main p{
    margin: 08px 0px;
}
section main p a{
    text-decoration: none;
    font-weight: 600;
}
section main .paragraf{
    padding: 20px 50px;
}
section main ul{
    padding: 20px 50px;
}
section main ol{
    padding: 0px 50px;
}


section main .line{
    width: 2px;
    height: 85px;
    position: absolute;
    background:#02bd6c;
   margin: 15px 0px 0px 35px;

}
/* Main Section End */

/* Aside section Start */
 section aside{ 
    padding: 10px;
    width: 25%;
    float: right;
    background: #d7d5d5;
}
section aside ul li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}
section aside ul li ul li{
    font-size: 17px;
    font-weight: normal;
    padding-left: 20px;

}
/* Aside section End */

/* Footer Section Start */
footer{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    margin-top: 25px;
    color: #a0f3a0;
    background: #012901;
}
footer ul {
    list-style: none;
    line-height: 20px;
    padding: 10px 0px;
}
footer ul li a{
    text-decoration:none;
    color: #fff;
}
footer ul li a:hover{
    border-bottom: 2px solid red;
   transition: scale(1.2);
}
/* Footer Section End */

/* Mediaquery Section Start */

@media screen and (max-width:991px) {
    .tophead{
       padding: 5px 10px;
       height: auto;      
}
.tophead ul li{
    display: block;
}
header{
    padding: 0px 10px;
}
nav{
    padding: 0px 10px;}
   
section{
    padding: 0px 10px ;
}
section main .line{
margin-top: 15px;
height:100px;
}
footer{
    padding: 10px 10px;
}
}

@media screen and (max-width:767px){

section main, section aside{
    float: none;
   width: 100%;
}
section main{
    margin-bottom: 10px;
}
section main .line{
    height: 108px;
}

section aside ul li{
   padding-left: 0px;
   text-align: center;
   font-size: 25px;
}
section aside ul{
    margin-bottom: 10px;
   
}
footer{
   margin-bottom: 10px;
  
}
@media screen and (max-width:576px){
     nav ul li{
        margin-right: 30px;
        text-justify: auto;
        
    }
    nav{
        padding: 0px 10px;
        text-align: center;
            }
    section main .line{
        margin-top: 15px;
        height:125px;
        }
       
    header h1,h3{
display: block;
line-height: normal;
text-align: center;

    }
    header h3{
      padding-bottom: 10px;
    }
}
footer{
    display: block;
    height: auto;
    text-align: center;
}
footer .links h4{
font-size: 25px;

}
footer .follow h4{
    font-size: 25px;
}
footer .copy h4{
    font-size: 25px;
}
}

@media screen and (max-width:434px){
 
    nav{
        padding: 0px 30px;
    }
}
@media screen and (max-width:425px){
    nav{
        padding: 0px 30px;
    }
    nav ul li{
        margin-right:15px ;
    }
     section main .line{
        margin-top: 10px;
        height:180px;
        }
}

@media screen and (max-width:375px){
    nav ul li{
        display:flex;
       
    }
    nav ul li a{
        text-align: center;
}
nav{
padding: 0px 120px;
height: auto;
}
section main .line{
    margin-top: 10px;
    height:220px;
    }
}
@media screen and (max-width:320px)
{
    nav{
        padding: 0px 120px;
        height: auto;
        }
    section main .line{
        margin-top: 10px;
        height:250px;
        }
}
/* Mediaquery Section End */
   
    